<div class="login-wrapper">
  <mat-card class="login-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            autocomplete="email"
          />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email wajib diisi
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Format email tidak valid
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            autocomplete="current-password"
          />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password wajib diisi
          </mat-error>
        </mat-form-field>

        <!-- <div *ngIf="error" class="error-msg">{{ error }}</div> -->

        <button
          mat-flat-button
          color="primary"
          class="full-width"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
